body {
    margin: 0px;
    padding: 0px;
}

header a {
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 40px;
    color: rgb(7, 7, 6);
}

header {
    background-color: black;
    height: 300px;
    padding: 20px;
    text-align: center;
    background-image: url('../images/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

nav ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

nav li {
    display: inline-block;
    width: 100px;
}

nav .mobile {
    display: none;
}

header .logo a{
    position: relative;
    display: inline-block;
    background-repeat: no-repeat;
    height: 80px;
    width: 80px;
    top: -30px;
    background-image: url('../images/logo.png');
    background-size: 80px;
    text-indent: -99999999px;
}

@media screen and (max-width:575px){
    nav .mobile {
        display: inline-block;
    }

    header {
        background-position: 0 30px;
        background-repeat: repeat;
    }

    nav .pc {
        display: none;
    }

    header {
        height: 200px;
    }
}

.figure {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 20px;
    background-color:  rgb(240, 217, 217);
    border-bottom: rgb(240, 233, 233) 1px solid;
}

.figure figure {
    width: 200px;
    margin: auto;
    text-align: center;
}

.figure figure img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px wheat solid;
    box-shadow: rgb(240, 233, 233) 0 0 20px;
}

div {
    margin: auto;
    text-align: center;
    width: 40px;
    background-color: chartreuse;
}

.footer {
    height: 50px;
    background-color: black;
    color: darkslategrey;
}