body {
    background-color: rgb(48, 46, 46);
    perspective: 800px;
}

#pic {
    width: 150px;
    height: 200px;
    margin: 300px auto;
    transform-style: preserve-3d;
    transform: rotateY();
    transform: rotateX(-10deg);
}

img {
    position: absolute;
    border: 1px solid rebeccapurple;
    width: 150px;
    height: 200px;
}